BasedOnStyle: LLVM

AccessModifierOffset: 0
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true
  AlignCaseArrows: true
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseExpressionOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: false
BinPackLongBracedList: false
BinPackParameters: AlwaysOnePerLine
BitFieldColonSpacing: Both
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Leave
BreakAfterReturnType: Automatic
BreakArrays: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Linux
BreakBeforeConceptDeclarations: Allowed
BreakBeforeInlineASMColon: Always
BreakBeforeTemplateCloser: false
BreakBeforeTernaryOperators: true
BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: AfterColon
BreakFunctionDefinitionParameters: true
BreakInheritanceList: AfterComma
BreakStringLiterals: false
BreakTemplateDeclarations: Yes

ColumnLimit: 120
CompactNamespaces: false
ContinuationIndentWidth: 8

DerivePointerAlignment: false
DisableFormat: false

EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
EnumTrailingComma: Insert

FixNamespaceComments: true

IncludeBlocks: Regroup
IndentAccessModifiers: true
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExportBlock: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentRequires: false
IndentWidth: 8
IndentWrappedFunctionNames: true
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: -1

KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false

LambdaBodyIndentation: Signature
LineEnding: LF

MaxEmptyLinesToKeep: 1

NamespaceIndentation: All
# NumericLiteralCase:
#   ExponentLetter: Lower
#   HexDigit: Lower
#   Prefix: Lower
#   Suffix: Lower

PackConstructorInitializers: CurrentLine
PointerAlignment: Right

QualifierAlignment: Leave

ReferenceAlignment: Pointer
ReflowComments: IndentOnly
RemoveEmptyLinesInUnwrappedLines: true
RemoveParentheses: Leave
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope

SeparateDefinitionBlocks: Always
SortIncludes:
  Enabled: true
  # IgnoreCase: false
  # IgnoreExtension: true

SortJavaStaticImport: After
SortUsingDeclarations: Lexicographic
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: true
SpaceAfterOperatorKeyword: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeJsonColon: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
# SpaceInEmptyBraces: Block
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesInParens: Never
SpacesInSquareBrackets: false
# Standard: c++17

TabWidth: 8

UseTab: AlignWithSpaces

WrapNamespaceBodyWithEmptyLines: Always
